.service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}
.services-container{
    background-color: #24282C;
    overflow: hidden;
    padding-bottom: 5rem;
}
.weight{
    font-weight: 700;
    font-size: 3rem;
}

@media only screen and (max-width:488px) {
    .service-grid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 992px) and (min-width: 489px){
    .service-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}