.allservices-contrainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}
.allservices-container{
    overflow-x: hidden;
}
@media only screen  and (max-width:488px) {
    .allservices-contrainer{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 992px) and (min-width: 489px){
    .allservices-contrainer{
        grid-template-columns: repeat(2, 1fr);
    }
}