@import url("https://fonts.googleapis.com/css?family=Oswald:300,400|Baloo+Da+2:400,600&display=swap");
.hero-section{
  z-index:2;
  margin: 0px;
  padding: 0px;
  color: #fff;
  height: 100vh;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../images/national-cancer-institute.jpg) no-repeat top center / cover;
  font-family: "Baloo Da 2", cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.App {
  z-index: 10;
  text-align: center;
  margin: 0px 24px;
  transition: 0.1s all ease-in-out;
  animation: app-enter-anim 0.1s ease-out;
}
.App-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
}
.App-text__title {
  margin: 0px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.5rem;
  font-family: "Oswald", sans-serif;
}
.App-text__body {
  margin: 0px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 1.2rem;
}
.btn-book{
  margin-top: 1rem;
}
@keyframes app-enter-anim {
  from {
    opacity: 0.8;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transfrom: scale(1);
  }
}
@-webkit-keyframes app-enter-anim {
  from {
    opacity: 0.8;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transfrom: scale(1);
  }
}
